* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/cork.png");
        height: 100vh;
    }

p {
    font-family: Sometype Mono, monospace;
    margin-top: 10px;
}

h1 {
   padding: 30px 0px;
    font-size: 4rem;
    font-family: Edu Tas Beginner , sans-serif;
}

.container {
    width : 80%;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {    
    width: calc(100% / 4);
  border: 1px solid rgb(255, 253, 253);
         margin: 30px;    
         background-color: rgb(251, 244, 244);
    align-items: center;
}
.card {
    position: relative;
    border: 1px solid rgb(255, 253, 253);
         margin: 15px;    
         background-color: rgb(251, 244, 244);
}
.card-img {
    max-width: 100%;
height: auto;
}
.pin {
    position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
    background-image: url("../img/wall.png");
    text-align: center;
}
/* OVERLAY */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(13, 13, 13, 0.705); 
    z-index: 9999;
    display: none;
}
.overlay-img {
    padding: 90px;
    display: block;
    margin: auto;
}
.container-small {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}
.btn {
    position: relative;
    margin-top: 30px;
}
.close {
    position: absolute;
    top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
font-size: 1.3rem;
padding: 7px;
}


/* MEDIA QUERY */
 @media screen and (max-width : 1600px) {
    .col {
        width: calc(100% / 4);
    }
  }
 @media screen and (max-width : 1024px) {
    .col {
        width: calc(100% / 3);
    }

.overlay-img {
 padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

  }
   @media screen and (max-width : 970px) {
    .col {
        width: calc(100% / 3);
    }

  }
  @media screen and (max-width : 880px) {
    .col {
        width: calc(100% / 2);
    }

  }